body {
  margin: 0;
  position: relative;
  align-items: normal;
  color: black;
}

#root {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  .import {
    color: white;
    background-color: gray;
  }

  .nav {
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(58, 58, 58);
    justify-content: center ;
    color: white;
    .nav_link {
      display: block;
      margin: 0 30px;
      border: 1px solid white;
      width: 80px;
      align-content: center;
      text-align: center;
      border-radius: 10px;
      a {
        color: white;
      }
    }
    .nav_link:visited {
      color: white;
    }
    .searchBar_wrapper {
      position: relative;
      display: flex;
      .searchBar {
        height: 1.5rem;
        width: 300px;
        border-radius: 10px;
        border: none;
        margin: auto 0;
  
      }
      .DropDown {
        width: 300px;
        max-height: 400px;
        background-color: white;
        color: black;
        top: 35px;
        position: absolute;
        overflow-y: scroll;
        ul {
          margin: 0;
          padding: 0 2px;
          li {
            .DropDown_item {
              display: flex;
              flex-direction: row;
              img {
                margin: auto;
                display: block;
                width: 50px;
                height: 50px;
                margin: 0 10px;
                object-fit: cover;
              }
            }
          }
        }
        input:focus {
          border: 1px solid green;
        }
        .search_item {
          margin: 0;
          list-style: none;
          transition: all 0.2s;
        }
        .search_item:hover {
          background-color: rgb(208, 203, 203);
        }
      }
    }
    .user {
      
    } 
  }
//////////// MAIN CONTENT ////////////
  .Main_wrapper {
    width: 100%;
    background-color: black;

    .slider_wrapper {
      width: 70%;
      height: 250px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      background-color: gray;
      overflow: auto;
      .slider_item {
        margin: 10px;
        height: 230px;
        width: 230px;
        display: block;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }
  }

}

//TEST

.Country_PopUp {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 20px;
  }
  .Flag {
    display: block;
    width: 200px;

    margin: 0 20px;
    img {
      position: relative;
      max-width: 100%;
      max-height: 100px;
      top: 20%;
      object-fit: fill;
      //transform: translateY(-50%);
    }
  }

}

